@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=VT323&display=swap');

body {
  padding: 0; 
  margin: 0; 
  background-color: darkgrey;
}
#root {
  font-family: Montserrat, arial, sans-serif;
}

button {
  font-family: Montserrat, arial, sans-serif;
  cursor: pointer; 
  transition: 0.3s;
}

button:hover {
  background-color: darkgrey;
  color: white; 
}

li {
  text-decoration: none;
}
/* error message */
.error-message {
  color: red; 
  font-style: italic;
  size: 0.3rem; 
}

/* home page styles */ 

.logo {
  height: 5rem; 
}

.message-icon {
  height: 2rem;
  width: 3rem; 
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 8fr;  
  align-items: center;
  justify-content: center;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 7rem; 
  z-index: 1000; 
  background-color: black;
}

.logo-title-container {
  display: flex; 
  align-items: center;
  gap: 1rem; 
  color: white; 
  padding: 1rem; 
}

nav {
  display: flex; 
  text-decoration: none;
  justify-content: right;
  align-items: center;
  padding-right: 3rem; 
  font-size: 1rem; 
  gap: 3rem; 
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
  text-decoration: none;
}

.header-link {
  text-decoration: none;
  color: purple; 
}

.account-info-container {
  display: flex; 
  color: white; 
}
.account-info-container p {
  font-size: 1.15rem;
}

.main-container {
  display: flex; 
  flex-direction: column;
  padding-top: 10rem; 
  padding-bottom: 3rem;
  gap: 2rem;
  height: 100vh; 
  position: relative;
}

.search-bar {
  position: fixed; 
  left: 35%; 
  top: 8.5rem; 
  width: 30vw; 
  font-size: 1rem;
  border-radius: 0.8rem;
  padding: 0.7rem 1rem;
  outline: none; 
  border: none; 
  background-color: black;
  color: white; 
}

.textbooks-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem; 
  margin-top: 1rem; 
}


/* chat display styles */
.messages-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 6vh;
  right: 2.5vw;
  background-color: purple;
  border-radius: 1rem;
  height: 30rem;
  width: 20rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 500; 
}

.messages-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black
}

.messages-title-container h3 {
  margin: 0;
  font-size: 1.2rem;
  color: white; 
}

.messages-title-container p {
  cursor: pointer;
  color: blue; 
}

.all-chats-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0.5rem;
}

.chat-container {
  background-color: rgb(189, 189, 189); 
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 600;
  text-align: left; 
}

.chat-container:hover {
  background-color: #f5f5f5;
}

.chat-container p {
  margin: 0;
  font-size: 0.9rem;
  color: #333;
}

.message-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.7rem;
  position: fixed;
  bottom: 6vh;
  right: 2.5vw;
  background-color: purple; 
  border-radius: 1rem;
  cursor: pointer;
  z-index: 12; 
}

.message-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.chat-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.chat-header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: black;
  color: white;
  padding: 1rem;
  border-bottom: 1px solid darkgrey;
}

.chat-header h3 {
  margin: 0;
  font-size: 1rem;
}

.chat-header p {
  cursor: pointer;
  color: purple; 
}

.title-recipient-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 0.8rem;
}

.title-recipient-container p {
  color: darkgrey; 
  font-style: italic;
}

.chat-messages {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f0f0f0;
  height: 60vh;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  font-size: 0.9rem;
}

.message.right {
  background-color: purple; /* purple */
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.message.left {
  background-color: black; 
  color: white;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.timestamp {
  display: block;
  font-size: 0.7rem;
  color: #999;
  margin-top: 0.3rem;
  text-align: right;
}

.chat-view form {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
  border-top: 1px solid darkgrey;
}

.chat-view > form > input[type="text"] {
  flex-grow: 1;
  padding: 0.7rem;
  border-radius: 1rem;
  border: 1px solid darkgrey;
  outline: none;
  font-size: 1rem;
}

.chat-view > form > button[type="submit"] {
  background-color: purple;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-view > form > button[type="submit"]:hover {
  background-color: black;
}

/* textbook article styles */ 
.textbook-article {
  border-radius: 1rem; 
  background-color: white;
  padding: 2rem; 
  display: grid; 
  grid-template-columns: 2fr 3fr 1fr;
  align-items: center;
  width: 30vw; 
  min-width: 25rem; 
  color: purple; 
  height: 15rem; 
}

.message-seller-btn-container {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.message-seller-btn {
  background-color: lightgrey;
  border: none; 
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  font-size: 0.8rem;
  border-radius: 0.4rem; 
  transition: 0.3s;
}

.message-seller-btn:hover {
  background-color: purple;
  color: white; 
}

.article-info-container {
  margin-left: 1rem; 
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.price-display {
  color: black; 
}

.article-info-container p {
  margin: 0.4rem; 
}

.article-img-container {
  width: 13rem; 
  height: 13rem; 
}

.article-img-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

/* sell page styles */ 

.sell-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem; 
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  height: 30vh; 
  margin: auto; 
  min-height: 20rem; 
  margin-top: 5rem;
}

.sell-form h1 {
  margin-top: 0;
}

.sell-input {
  background-color: lightgrey;
  font-size: 1rem;
  padding: 0.3rem 0.3rem 0.3rem 0.7rem; 
  border-radius: 0.8rem;
  border: none; 
}

.price-container, .subject-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.listing-btn {
  background-color: lightgrey;
  font-size: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem; 
  border: none; 
  border-radius: 1rem;
}

.img-input-display {
  display: flex; 
  align-items: center;
  justify-content: center;
}


/* login styles */

.account-form {
  margin: auto; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border-radius: 2rem;
  padding: 3rem; 
  gap: 1rem; 
  width: 20rem; 
  margin-top: 10rem;
  background-color: lightgrey;
}


.account-input {
  border: none; 
  border-radius: 1rem;
  padding: 0.3rem 0.3rem 0.3rem 0.7rem; 
  font-size: 1rem;
}

.submit-btn {
  background-color: white;
  border: none; 
  border-radius: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem; 
  font-size: 0.8rem;
  font-weight: 500;
}

.logout-btn {
  background-color: black;
  color: white; 
  font-size: 0.9rem;
  padding: 1rem;
  border: none; 
  cursor: pointer; 
}